{% extends '__base.html' %}
{% load staticfiles %}


{% block block_title %}
    NorvegTest
{% endblock %}


{% block block_navbar_right %}
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;LEARNING
{% endblock %}


{% block block_content %}
    <!-- ExamCard { -->
    <ul class="nav nav-tabs z-depth-2 animated fadeIn align-items-center" style="background: #570230;" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">en</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">ru</a>
        </li>

        <div style="position: absolute; right: 20px; color: white">
            {{ section_number }}. {{ section_text }} &nbsp;({{ question_num_in_section }} of {{ question_amount }})
        </div>
    </ul>

    <div class="tab-content card lime lighten-5 z-depth-2 animated fadeIn">
        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
            {% if question_image %}
                <div class="container-flued">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="h5" style="color: #570230;">
                                {{ question_num_in_section }}. {{ question_eng }}
                            </p>
                        </div>
                        <div class="col-3">
                            <img src="{% static 'img/q_img/' %}{{ question_image }}" class="img-fluid z-depth-3"/>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="h5" style="color: #570230;">
                    {{ question_num_in_section }}. {{ question_eng }}
                </p>
            {% endif %}

            <hr style="background: #570230;">

            {% for answer in dict_answers.values %}
                <div class="form-group">
                    <input type="checkbox" class="filled-in" id="{{ answer.checkbox_eng }}" onclick="$('#{{ answer.checkbox_eng }}'.replace('eng','rus')).prop('checked', $('#{{ answer.checkbox_eng }}').prop('checked'))">

                    {% if show_answers %}
                        <label for="{{ answer.checkbox_eng }}">{{ answer.eng }} - {{ answer.letter }}. {{ answer.correct }}</label>
                    {% else %}
                        <label for="{{ answer.checkbox_eng }}">{{ answer.eng }}</label>
                    {% endif %}
                </div>
            {% endfor %}

            <hr style="background: #570230;">
        </div>

        <div class="tab-pane fade" id="panel2" role="tabpanel">
            {% if question_image %}
                <div class="container-flued">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="h5" style="color: #570230;">
                                {{ question_num_in_section }}. {{ question_rus }}
                            </p>
                        </div>
                        <div class="col-3">
                            <img src="{% static 'img/q_img/' %}{{ question_image }}"/>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="h5" style="color: #570230;">
                    {{ question_num_in_section }}. {{ question_rus }}
                </p>
            {% endif %}

            <hr style="background: #570230;">

            {% for answer in dict_answers.values %}
                <div class="form-group">
                    <input type="checkbox" class="filled-in" id="{{ answer.checkbox_rus }}" onclick="$('#{{ answer.checkbox_rus }}'.replace('rus','eng')).prop('checked', $('#{{ answer.checkbox_rus }}').prop('checked'))">
                    <label for="{{ answer.checkbox_rus }}">{{ answer.rus }}</label>
                </div>
            {% endfor %}

            <hr style="background: #570230;">
        </div>

        <div>
            <button type="button" id="btn_prev" class="btn btn-rounded" style="background: #570230;" onclick="btn_prev_click()"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;&nbsp;prev</button>
            <button type="button" class="btn btn-rounded" style="color: yellow; background: #7f0257;" onclick="btn_check_click()">&nbsp check &nbsp my &nbsp answer &nbsp</button>
            <button type="button" id="btn_next" class="btn btn-rounded" style="background: #570230;" onclick="btn_next_click()"> next &nbsp;&nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-rounded" style="background: #466e4a; position: absolute; right: 20px;" onclick="btn_help_click()">help &nbsp;&nbsp;<i class="fa fa-medkit" aria-hidden="true"></i></button>
        </div>
    </div>
    <!-- ExamCard } -->


    <!-- Central Modal Medium Right { -->
    <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead"> {{ right_msg }} </p>
                </div>
                <div class="modal-body">
                    <div class="text-center">
{#                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>#}
                        <img src="{% static 'img/img_yes_no/' %}{{ right_img }}"/>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-outline-secondary-modal btn-sm waves-effect" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Medium Right } -->

    <!-- Central Modal Medium Wrong { -->
    <div class="modal fade" id="centralModalWrong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-danger" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead"> {{ wrong_msg }} </p>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="{% static 'img/img_yes_no/' %}{{ wrong_img }}"/>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-outline-secondary-modal btn-sm waves-effect" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Medium Wrong } -->

    <script>
        jQuery(function($) {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");

            var quest_num_in_sec = {{ question_num_in_section }};
            if(quest_num_in_sec < 2) { jQuery('#btn_prev').prop('disabled', true); }
            if(quest_num_in_sec >= {{ question_amount }}) { jQuery('#btn_next').prop('disabled', true); }
        });

        function btn_prev_click() {
            var href_split_array = window.location.href.split('/');
            var new_href = "";

            href_split_array[href_split_array.length-2] = parseInt(href_split_array[href_split_array.length-2]) - 1;

            for ( loop = 0; loop < href_split_array.length; loop++ ) {
                new_href += href_split_array[loop];
                new_href += "/";
            }
            window.location.href = new_href.substr(0, new_href.length-1);
        }

        function btn_next_click() {
            var href_split_array = window.location.href.split('/');
            var new_href = "";

            href_split_array[href_split_array.length-2] = parseInt(href_split_array[href_split_array.length-2]) + 1;

            for ( loop = 0; loop < href_split_array.length; loop++ ) {
                new_href += href_split_array[loop];
                new_href += "/";
            }
            window.location.href = new_href.substr(0, new_href.length-1);
        }

        function btn_check_click() {
            var answer_status = true;
            var any_checked = false;

            {% for answer in dict_answers.values %}

                if(jQuery('#{{ answer.checkbox_eng }}').is(':checked')) {
                    any_checked = true;

                    {% if answer.correct == 'false' %}
                        jQuery('#{{ answer.checkbox_eng }}').prop('checked', false);
                        jQuery('#{{ answer.checkbox_rus }}').prop('checked', false);
                        jQuery('label[for="{{ answer.checkbox_eng }}"]').css({'color':'red', 'text-decoration':'line-through'});
                        jQuery('label[for="{{ answer.checkbox_rus }}"]').css({'color':'red', 'text-decoration':'line-through'});

                        answer_status = false;
                    {% endif %}
                }
                else {
                    jQuery('label[for="{{ answer.checkbox_eng }}"]').css({'color':'black', 'text-decoration':'none'});
                    jQuery('label[for="{{ answer.checkbox_rus }}"]').css({'color':'black', 'text-decoration':'none'});
                }
            {% endfor %}

            if(answer_status && any_checked) {
                jQuery('#centralModalSuccess').modal('show');
            }
            else {
                jQuery('#centralModalWrong').modal('show');
            }
        }

        function btn_help_click() {
            {% for answer in dict_answers.values %}
                {% if answer.correct == 'false' %}
                    jQuery('#{{ answer.checkbox_eng }}').prop('checked', false);
                    jQuery('#{{ answer.checkbox_rus }}').prop('checked', false);
                {% elif answer.correct == 'true' %}
                    jQuery('#{{ answer.checkbox_eng }}').prop('checked', true);
                    jQuery('#{{ answer.checkbox_rus }}').prop('checked', true);
                {% endif %}

                jQuery('label[for="{{ answer.checkbox_eng }}"]').css({'color':'black'});
                jQuery('label[for="{{ answer.checkbox_eng }}"]').css({'text-decoration':'none'});

                jQuery('label[for="{{ answer.checkbox_rus }}"]').css({'color':'black'});
                jQuery('label[for="{{ answer.checkbox_rus }}"]').css({'text-decoration':'none'});
            {% endfor %}
        }
    </script>

{% endblock block_content %}
